{{ form_start(form, {'attr': {'class': 'panier-form', 'name': 'panierForm'}}) }}

<div class="form-group">
    <label for="nom_produit" class="panier-label" style="border: 2px ; color: #B22222;  padding: 10px;">Nom Produit</label>
    {{ form_widget(form.nom_produit, {'attr': {'class': 'form-control panier-nom_produit', 'placeholder' : 'Nom Produit' }}) }}
    <div class="text-danger" style="margin-top: 10px;border: 2px #B22222; padding: 10px;">{{ form_errors(form.nom_produit) }}</div>
</div>

<div class="form-group">
    <label for="quantite" class="panier-label" style="border: 2px ; color: #B22222; padding: 10px;">Quantité</label>
    {{ form_widget(form.quantite, {'attr': {'class': 'form-control panier-quantite', 'placeholder' : 'Quantité' }}) }}
    <div class="text-danger" style="margin-top: 10px;border: 2px #B22222; padding: 10px;">{{ form_errors(form.quantite) }}</div>
</div>

<div class="form-group">
    <label for="prix" class="panier-label" style="border: 2px  ; color: #B22222; padding: 10px;">Prix</label>
    {{ form_widget(form.prix, {'attr': {'class': 'form-control panier-prix', 'placeholder' : 'Prix' }}) }}
    <div class="text-danger" style="margin-top: 10px;border: 2px #B22222; padding: 10px;">{{ form_errors(form.prix) }}</div>
</div>

<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}