{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <style>
        .custom-border {
            border: 10px solid #B22222;
            padding: 20px;
            margin: 0 auto; /* Pour centrer le cadre horizontalement */
            width: 600px;
            height: auto; /* Ajuster automatiquement la hauteur en fonction du contenu */
            text-align: center;
            display: flex;
            flex-direction: column; /* Pour aligner les éléments verticalement */
            justify-content: center;
            align-items: center; /* Pour centrer verticalement le contenu */
        }

        .table {
            width: 100%;
            max-width: 600px; /* Limiter la largeur de la table pour s'adapter à la bordure */
            margin-bottom: 20px; /* Ajouter de l'espace en bas */
        }
         .HELLO {
           text-align: center;
           color: #B22222; 
        } 
        .label {
          
           color: #B22222; 
        } 

    </style>

    <div class="custom-border">
        <h1 class="HELLO">Panier</h1>

        <table class="table">
            <tbody>
                
                <tr>
                    <th  class="label">Nom_produit</th>
                    <td>{{ panier.nomProduit }}</td>
                </tr>
                <tr>
                    <th  class="label">Quantite</th>
                    <td>{{ panier.quantite }}</td>
                </tr>
                <tr>
                    <th  class="label">Prix</th>
                    <td>{{ panier.prix }}</td>
                </tr>
            </tbody>
        </table>

        
    </div>
    <div class="HELLO">
    <a href="{{ path('app_panier_index') }}">back to list</a>

        <a href="{{ path('app_panier_edit', {'id': panier.id}) }}">edit</a>

        {{ include('panier/_delete_form.html.twig') }}
        </div>
{% endblock %}