{% extends 'FooterHeader.html.twig' %}

{% block s %}
    <title>Recette-{{ recette.titre }}</title>
{% endblock %}

{% block body %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');



.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    height: 400px; /* Adjust the height as needed */
        object-fit: cover; /* Ajuste l'image pour couvrir la zone tout en conservant ses proportions */

}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #f14141;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
#corner-video {
    position: fixed;
    bottom: 0px;
    right: -13px;
    width: 250px; /* Increase the width */
    height: 250px; /* Increase the height to match the width */
    z-index: 9999; /* Ensure it's on top of other content */
     opacity: 0; /* Définissez l'opacité initiale sur 0 pour que la vidéo soit invisible au début */
        transition: opacity 4s ease; 
}
.purchase-info {
    margin: 1.5rem 0;
    display: flow;
    justify-content: space-between;
}

.additional-actions {
    justify-content: space-between;
    margin-top: 1rem;
}

.download-btn,
.print-btn {
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.download-btn:hover,
.print-btn:hover {
    background-color: #45a049;
}

.download-btn a,
.print-btn button {
    color: white;
    text-decoration: none;
}

/* Ajoute les icônes */
.download-btn i,
.print-btn i {
    margin-right: 5px;
}
/* Styles pour la boîte modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style pour le titre de la boîte modale */
.modal-title {
    color: #007bff; /* Bleu */
    font-size: 2.1rem;
    margin-bottom: 10px;
}

/* Styles pour les boutons de la boîte modale */
.modal-buttons button {
     margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Style pour le bouton "Oui" */
.modal-buttons .btn-yes {
    background-color: #28a745; /* Vert */
    color: #fff;
}

/* Style pour le bouton "Annuler" */
.modal-buttons .btn-cancel {
    background-color: #dc3545; /* Rouge */
    color: #fff;
}

.modal-buttons button:hover {
    background-color: #f0f0f0;
}

.modal-buttons button:focus {
    outline: none;
}

.avis-form-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.avis-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.avis-note, .avis-commentaire {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #256eff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1c4fcf;
}

.avis-list-container {
    margin-top: 2rem;
}

.avis-list {
    list-style: none;
    padding: 0;
}

.avis-list li {
    margin-bottom: 1rem;
}
.avis-list {
    list-style: none;
    padding: 0;
}

/* Styles pour les avis */
.avis-card {
       border: 3px solid #ccc;
    border-radius: 17px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-width: 400px; /* Limite la largeur de la carte */
    margin: 10px auto; /* Centre la carte horizontalement */
}

.star-rating {
    font-size: 16px; /* Réduire la taille des étoiles */
    margin-bottom: 3px; /* Réduire l'espacement entre les étoiles et la note */
}

.star-rating span {
    color: #ffed6b; /* Couleur des étoiles */
}

.note-value {
    font-weight: bold;
    margin-bottom: 3px; /* Réduire l'espacement entre la note et le commentaire */
    font-size: 14px; /* Réduire la taille de la note */
}

.commentaire {
    margin-bottom: 8px; /* Réduire l'espacement sous le commentaire */
    font-size: 14px; /* Réduire la taille du commentaire */
}
.star-rating {
    display: flex; /* Utilisation de flexbox pour aligner horizontalement */
    font-size: 24px; /* Taille des étoiles */
    margin-bottom: 10px; /* Espacement en bas */
}

.star-rating span {
    cursor: pointer; /* Curseur pointer pour indiquer que c'est cliquable */
    margin-right: 5px; /* Espacement entre les étoiles */
}

/* Style des étoiles pleines */
.star-rating .filled-star::before {
    content: "\2605"; /* Étoile pleine */
}

/* Style des étoiles vides */
.star-rating .empty-star::before {
    content: "\2606"; /* Étoile vide */
}
.avis-title {
    color: red;
    margin-bottom: 10px; /* Ajoutez une marge en bas pour séparer du contenu suivant */
    margin-top: 0; 

}
.cta {
    --section-padding: 167px;
}
.big-card-white {
    background-color: #fff; /* Fond blanc */
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    max-width: 1100px; /* Largeur maximale de la carte */
    margin: 0 auto; /* Centre la carte horizontalement */
}
.cta {
    --section-padding: 108px;
}
.header {
    --color: hsl(0deg 100% 50%);
    --btn-color: hsl(23deg 100% 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 1px;
    border-block-end: 1px solid var(--champagne-pink_20);
    z-index: 4;
    background-color: white;
}
.big-card-whitee {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    margin: 0 auto;
    width: 522px;
}
.avis-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacement égal entre les cartes */
}

.avis-card {
    width: calc(50% - 10px); /* 50% de largeur moins un espacement */
    margin-bottom: 20px; /* Espacement en bas */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.qr-code-img {
    width: 136px;
    height: 129px;
    position: absolute;
    top: 328px;
    right: 48px;
    z-index: 999;
}
.text-danger {
    color: red; /* Set the text color to red */
    font-size: 14px; /* Set the font size for the error message */
    /* Add any other styles you want for error messages */
}
</style>
<main>
        <article>
      <section class="section section-divider white cta">
<img src="{{ path('qr_code', {'id': recette.id}) }}" alt="QR Code Image" class="qr-code-img">

  <div class="card-wrapper">
    <div class="big-card-white"> <!-- Ajoutez cette classe pour la grande carte blanche -->
        <div class="card">
            <!-- Card left: Image -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="{{ asset('uploads/images/' ~ recette.image) }}" alt="Recette Image">
                    </div>
                </div>
            </div>
            <!-- Card right: Content -->
            <div class="product-content">
                <h2 class="product-title">{{ recette.titre }}</h2>

                <div class="product-detail">
                    <h2>Description:</h2>
                    <p>{{ recette.description }}</p>
                    <h2>Ingrédients:</h2>
                    <ul>
                        {% for ingredient in recette.ingredients|split("\n") %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    <h2>Étapes:</h2>
                    <ol>
                        {% set etapes = recette.etape|split("\n") %}
                        {% for i, etape in etapes %}
                            <li>Étape {{ i + 1 }} : <br>{{ etape }}</li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="additional-actions">
                    <div class="download-btn">
                        <button type="button">
                            <a href="{{ path('app_recette_pdf', {'id': recette.id}) }}" target="_blank">
                                <i class="fas fa-download"></i> Télécharger Recette
                            </a>
                        </button>
                    </div>
                    <div class="print-btn">
                        <button type="button" onclick="printRecipe()">
                            <i class="fas fa-print"></i> Imprimer
                        </button>
                    </div>
                </div>
            </div>
            <div class="social-links">
                    <p>Share At: </p>
     <a href="#" onclick="shareOnFacebook('{{ recette.titre }}', '{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}', '{{ asset('uploads/images/' ~ recette.image) }}', '{{ recette.description }}')">
    <i class="fab fa-facebook-f"></i>
</a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
                

            </div>
        </div>
    </div>
            </div>
        </div>
        
    </div>
        </div>
    </div>

</div>


   


    <div id="loadingSpinner" style="display: none;">
    <!-- Vous pouvez utiliser une icône de chargement ou un spinner ici -->
    <i class="fas fa-spinner fa-spin"></i> Chargement en cours...
</div>
</section>
        </article>
    </main>

    <video controls id="corner-video" loop muted autoplay>
 <source src="{{ asset('uploads/videos/' ~ recette.video) }}" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div id="confirmationModal" class="modal">
        <!-- Contenu de la boîte de dialogue -->
        <div class="modal-content">
            <h2 class="modal-title">Confirmation de suppression</h2>
            <p>Êtes-vous sûr de vouloir supprimer cette recette ?</p>
            <div class="modal-buttons">
                <button class="btn-yes" onclick="confirmDelete()">Oui</button>
                <button class="btn-cancel" onclick="closeConfirmationModal()">Annuler</button>
            </div>
        </div>
    </div>
    
     <article>

     <article>
      <section class="section section-divider white cta">
    <div class="big-card-whitee">
    <h2 class="avis-title">Laisser un avis</h2>
{{ form_start(avisForm, {'attr': {'class': 'avis-form', 'name': 'avisForm', 'novalidate': 'novalidate'}}) }}
        <div class="form-group">
    <label for="note" class="avis-label"><i class="fas fa-star icon-blue"></i> Note</label>
    <div class="star-rating" id="star-rating">
        <span data-value="1">&#x2606;</span>
        <span data-value="2">&#x2606;</span>
        <span data-value="3">&#x2606;</span>
        <span data-value="4">&#x2606;</span>
        <span data-value="5">&#x2606;</span>
    </div>
    {{ form_widget(avisForm.note, {'attr': {'class': 'form-control avis-note', 'style': 'display: none;'}}) }}
    {{ form_errors(avisForm.note, {'attr': {'class': 'text-danger'}}) }}
</div>
        <div class="form-group">
            <label for="commentaire" class="avis-label"><i class="fas fa-comment-alt icon-green"></i> Commentaire</label>
            {{ form_widget(avisForm.commentaire, {'attr': {'class': 'form-control avis-commentaire', 'rows': 4}}) }}
            {{ form_errors(avisForm.commentaire, {'attr': {'class': 'text-danger'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
        {{ form_end(avisForm) }}
    </div>
    <div class="avis-list-container">
    
    <h2 class="avis-title">Avis sur cette recette ({{ totalAvis }})</h2>
<div class="total-notes">Total des notes : {{ totalNotes }}</div>

    <div class="avis-list-wrapper">
        {% for avis in avisRecette %}
            <div class="avis-card">
                <div><a href="#" class="card-meta-link">
                                    <ion-icon name="person-outline"></ion-icon>
                                    {% if avis.idUser is not null %}
                                        <p class="meta-info">Author: {{ recette.idUser.nom }}</p>
                                    {% else %}
                                        <p class="meta-info">Author: Unknown</p>
                                    {% endif %}
                                </a></div>
                <div>{{ avis.date|date('Y-m-d') }}</div>
                <div class="star-rating" style="display: flex;"> <!-- Utilisation de flexbox pour les étoiles horizontales -->
                    {% for i in range(1, 5) %}
                        {% if i <= avis.note %}
                            <span>&#x2605;</span> <!-- Étoile pleine -->
                        {% else %}
                            <span>&#x2606;</span> <!-- Étoile vide -->
                        {% endif %}

                    {% endfor %}
                    <form method="post" action="{{ path('app_avis_delete', {'id': avis.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avis.id) }}">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
                </div>
                <div class="note-value">{{ avis.note }}/5</div> <!-- Affiche la valeur de la note -->
                <div class="commentaire">{{ avis.commentaire }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<div id="alertModal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">Erreur</h2>
        <p>Veuillez sélectionner une note avant de soumettre.</p>
        <div class="modal-buttons">
            <button class="btn-cancel" onclick="closeAlertModal()">OK</button>
        </div>
    </div>
</div>

      </section>
      </article>
<script>


  window.onload = function() {
        setTimeout(function() {
            document.getElementById('corner-video').style.opacity = 1; // Rendre la vidéo visible
        }, 4000); // Attendre 1 seconde avant d'appliquer la transition
    };

     function printRecipe() {
        window.print(); // Ouvre la boîte de dialogue d'impression du navigateur
    }
      
        function shareOnFacebook(title, url, image, description) {
        // Construire l'URL de partage de Facebook avec les paramètres nécessaires
        var fbShareUrl = 'https://www.facebook.com/sharer/sharer.php';
        fbShareUrl += '?u=' + encodeURIComponent(url);
        fbShareUrl += '&picture=' + encodeURIComponent(image);
        fbShareUrl += '&title=' + encodeURIComponent(title);
        fbShareUrl += '&description=' + encodeURIComponent(description);

        // Ouvrir la fenêtre de partage de Facebook
        window.open(fbShareUrl, '_blank');
    }

      function showAlertModal() {
        var alertModal = document.getElementById('alertModal');
        alertModal.style.display = 'flex'; // Affiche la boîte de dialogue d'alerte
    }

    function closeAlertModal() {
        var alertModal = document.getElementById('alertModal');
        alertModal.style.display = 'none'; // Cache la boîte de dialogue d'alerte
    }

    document.addEventListener('DOMContentLoaded', function() {
        const submitButton = document.querySelector('.btn-primary');
        const noteInput = document.querySelector('.avis-note');
        const starRating = document.getElementById('star-rating');

        submitButton.addEventListener('click', function(event) {
            // Vérifiez si aucune note n'a été sélectionnée
            if (!noteInput.value) {
                event.preventDefault(); // Empêche la soumission du formulaire
                showAlertModal(); // Affiche la boîte de dialogue d'alerte
            }
        });

        starRating.addEventListener('click', function(event) {
            if (event.target.tagName === 'SPAN') {
                const value = parseInt(event.target.getAttribute('data-value'));
                noteInput.value = value;
                updateStars(value);
            }
        });

        function updateStars(value) {
            const stars = starRating.querySelectorAll('span');
            stars.forEach(function(star, index) {
                if (index < value) {
                    star.innerHTML = '&#x2605;'; // Étoile pleine
                } else {
                    star.innerHTML = '&#x2606;'; // Étoile vide
                }
            });
        }
    });


   

</script>
{% endblock %}