{% block body %}

    <h1 align="center">LISTE DES RESTAURANTS</h1>
    <main id="main" class="main">
        <table id="restaurants" class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Catégorie</th>
                    <th>Nom</th>
                    <th>Spécialité</th>
                    <th>Téléphone</th>
                    <th>Description</th>
                    <th>Place</th>
                    <th>Rate</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in restaurant %}
                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>{{ restaurant.idCategorie }}</td>
                        <td>{{ restaurant.nom }}</td>
                        <td>{{ restaurant.speciality }}</td>
                        <td>{{ restaurant.telephone }}</td>
                        <td>{{ restaurant.description }}</td>
                        <td>{{ restaurant.place }}</td>
                        <td>{{ restaurant.rate }}</td>
                        <td>{{ restaurant.image }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}