{% extends 'base.html.twig' %}

{% block title %}Rechercher de restaurants{% endblock %}

{% block body %}
    <h1>Recherches de restaurants</h1>
    
    {{ form_start(searchForm) }}
    {{ form_row(searchForm.query) }}
    {{ form_row(searchForm.search) }}
    {{ form_end(searchForm) }}

    {% if restaurants is not empty %}
        <h2>Résultats de la recherche :</h2>
        <ul>
            {% for restaurant in restaurants %}
                <li>{{ restaurant.nom }} - {{ restaurant.place }}</li>
            {% endfor %}
              
        </ul>
    {% endif %}
{% endblock %}