{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}



<div class="form-group">
        {{ form_label(form.idMenu) }}
        {{ form_widget(form.idMenu, {'attr': {'class': 'form-control'}}) }}
         <span style="color:red;">{{ form_errors(form.idMenu)}}</span>
    </div>

    <div class="form-group">
        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
         <span style="color:red;">{{ form_errors(form.adresse)}}</span>
    </div>

    <div class="form-group">
        {{ form_label(form.longitude) }}
        {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
    <span style="color:red;">{{ form_errors(form.longitude)}}</span>
    </div>
     <div class="form-group">
        {{ form_label(form.latitude) }}
        {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
    <span style="color:red;">{{ form_errors(form.latitude)}}</span>
    </div>
     <div class="form-group">
        {{ form_label(form.modePayement) }}
        {{ form_widget(form.modePayement, {'attr': {'class': 'form-control'}}) }}
    <span style="color:red;">{{ form_errors(form.modePayement)}}</span>
    </div>
    <div class="form-group">
        {{ form_label(form.remarque) }}
        {{ form_widget(form.remarque, {'attr': {'class': 'form-control'}}) }}
    <span style="color:red;">{{ form_errors(form.remarque)}}</span>
    </div>

   

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>


