{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>IdClient</th>
                <td>{{ commande.idClient }}</td>
            </tr>
            <tr>
                <th>IdMenu</th>
                <td>{{ commande.idMenu }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ commande.adresse }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ commande.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ commande.latitude }}</td>
            </tr>
            <tr>
                <th>DateCommande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EtatCommande</th>
                <td>{{ commande.etatCommande }}</td>
            </tr>
            <tr>
                <th>ModePayement</th>
                <td>{{ commande.modePayement }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ commande.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
